<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="eventBus" class="ru.nntu.vst.gorbatovskii.factory.events.EventBusImpl"/>

    <!-- Location and routes -->

    <bean id="stockLocation" class="ru.nntu.vst.gorbatovskii.factory.model.common.Location">
        <property name="locationId" value="stockLocation"/>
    </bean>

    <bean id="machineALocation" class="ru.nntu.vst.gorbatovskii.factory.model.common.Location">
        <property name="locationId" value="machineALocation"/>
    </bean>

    <bean id="machineBLocation" class="ru.nntu.vst.gorbatovskii.factory.model.common.Location">
        <property name="locationId" value="machineBLocation"/>
    </bean>

    <bean id="storageLocation" class="ru.nntu.vst.gorbatovskii.factory.model.common.Location">
        <property name="locationId" value="storageLocation"/>
    </bean>

    <bean id="stockToMachineARoute" class="ru.nntu.vst.gorbatovskii.factory.model.common.Route">
        <property name="pointA" ref="stockLocation"/>
        <property name="pointB" ref="machineALocation"/>
        <property name="weight" value="6"/>
    </bean>

    <bean id="machineAToMachineBRoute" class="ru.nntu.vst.gorbatovskii.factory.model.common.Route">
        <property name="pointA" ref="machineALocation"/>
        <property name="pointB" ref="machineBLocation"/>
        <property name="weight" value="7"/>
    </bean>

    <bean id="machineBToStorageRoute" class="ru.nntu.vst.gorbatovskii.factory.model.common.Route">
        <property name="pointA" ref="machineBLocation"/>
        <property name="pointB" ref="storageLocation"/>
        <property name="weight" value="5"/>
    </bean>

    <!-- Robots configuration -->

    <bean id="robotManipulationTimeCalculationStrategy"
          class="ru.nntu.vst.gorbatovskii.factory.model.time.RangeTimeCalculationStrategy">
        <property name="average" value="8"/>
        <property name="averageVariation" value="1"/>
    </bean>

    <bean abstract="true" id="abstractRobot" class="ru.nntu.vst.gorbatovskii.factory.model.robot.RobotImpl">
        <property name="eventBus" ref="eventBus"/>
        <property name="timeCalculationStrategy" ref="robotManipulationTimeCalculationStrategy"/>
    </bean>

    <bean id="robot1" class="ru.nntu.vst.gorbatovskii.factory.model.robot.RobotImpl" parent="abstractRobot">
        <property name="name" value="robot1"/>
        <property name="location" ref="stockLocation"/>
    </bean>

    <bean id="robot2" class="ru.nntu.vst.gorbatovskii.factory.model.robot.RobotImpl" parent="abstractRobot">
        <property name="name" value="robot2"/>
        <property name="location" ref="machineALocation"/>
    </bean>

    <bean id="robot3" class="ru.nntu.vst.gorbatovskii.factory.model.robot.RobotImpl" parent="abstractRobot">
        <property name="name" value="robot3"/>
        <property name="location" ref="storageLocation"/>
    </bean>

    <bean id="freeRobotEligibilityStrategy"
          class="ru.nntu.vst.gorbatovskii.factory.model.robot.eligibility.FreeRobotEligibilityStrategy">
        <property name="robots">
            <list>
                <ref bean="robot1"/>
                <ref bean="robot2"/>
                <ref bean="robot3"/>
            </list>
        </property>
    </bean>

    <bean id="determinedRobotEligibilityStrategy"
          class="ru.nntu.vst.gorbatovskii.factory.model.robot.eligibility.DeterminedRobotEligibilityStrategy">
        <property name="robotEligibilityMap">
            <map>
                <entry key-ref="machineALocation">
                    <list>
                        <ref bean="robot1"/>
                    </list>
                </entry>
                <entry key-ref="machineBLocation">
                    <list>
                        <ref bean="robot2"/>
                    </list>
                </entry>
                <entry key-ref="storageLocation">
                    <list>
                        <ref bean="robot3"/>
                    </list>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="robotProvider" class="ru.nntu.vst.gorbatovskii.factory.model.robot.RobotProviderImpl">
        <!--<property name="eligibilityStrategy" ref="determinedRobotEligibilityStrategy"/>-->
        <property name="eligibilityStrategy" ref="freeRobotEligibilityStrategy"/>
    </bean>

    <!-- Storage configuration -->

    <bean id="storage" class="ru.nntu.vst.gorbatovskii.factory.model.common.Storage">
        <property name="terminateResourceCount" value="10"/>
        <property name="location" ref="storageLocation"/>
        <property name="eventBus" ref="eventBus"/>
        <property name="robotProvider" ref="robotProvider"/>
        <property name="producer" ref="machineB"/>
    </bean>

    <!-- Stock configuration -->

    <bean id="stockTimeStrategy" class="ru.nntu.vst.gorbatovskii.factory.model.time.ExponentialTimeCalculationStrategy">
        <property name="average" value="40"/>
    </bean>

    <bean id="stock" class="ru.nntu.vst.gorbatovskii.factory.model.common.Stock">
        <property name="consumer" ref="machineA"/>
        <property name="location" ref="stockLocation"/>
        <property name="eventBus" ref="eventBus"/>
        <property name="timeCalculationStrategy" ref="stockTimeStrategy"/>
    </bean>

    <!-- Machines configuration -->

    <bean abstract="true" id="abstractMachine" class="ru.nntu.vst.gorbatovskii.factory.model.common.Machine">
        <property name="robotProvider" ref="robotProvider"/>
        <property name="eventBus" ref="eventBus"/>
    </bean>

    <bean id="machineATimeStrategy" class="ru.nntu.vst.gorbatovskii.factory.model.time.GaussTimeCalculationStrategy">
        <property name="mean" value="60"/>
        <property name="standardDeviation" value="10"/>
    </bean>

    <bean id="machineA" class="ru.nntu.vst.gorbatovskii.factory.model.common.Machine" parent="abstractMachine">
        <property name="producer" ref="stock"/>
        <property name="consumer" ref="machineB"/>
        <property name="location" ref="machineALocation"/>
        <property name="timeCalculationStrategy" ref="machineATimeStrategy"/>
    </bean>

    <bean id="machineBTimeStrategy" class="ru.nntu.vst.gorbatovskii.factory.model.time.ExponentialTimeCalculationStrategy">
        <property name="average" value="100"/>
    </bean>

    <bean id="machineB" class="ru.nntu.vst.gorbatovskii.factory.model.common.Machine" parent="abstractMachine">
        <property name="producer" ref="machineA"/>
        <property name="consumer" ref="storage"/>
        <property name="location" ref="machineBLocation"/>
        <property name="timeCalculationStrategy" ref="machineBTimeStrategy"/>
    </bean>

    <!-- System Terminate handlers -->
    <bean id="exitProgramm" class="ru.nntu.vst.gorbatovskii.factory.events.system.ExitProgramSystemHandler">
        <property name="order">
            <util:constant static-field="java.lang.Integer.MAX_VALUE"/>
        </property>
    </bean>


</beans>
